- Momentum Firmware
- Flipper-zero-files
- Xtreme Firmware
- FlipperZero-Firmware-UniRFRemix
- Flipper IRDB
- @JKCTech
- BadUSB-Files-For-FlipperZero
- @SYOP200
- Flipper-Raw-RFID
- flipper-zero-files
- @UberGuidoZ
- Flipper Docs
- Flipper Zero Scripts
- lab401.com
- Flipper Docs
- vilros.com
- Flipper Deauth
- Awesome-Flipperzero
- @I-Am-Jakoby
- @kbembedded
- Flipper Zero NFC Trolls

*NOTE*
Links to these amazing people and repos will be linked in the [credits](https://github.com/SYOP200/Flipper-Zero-Downloads/main/README.md)
